<nav class="nav-custom">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray">Dashboard</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link" id="homeLink">
                    <a href="/dashboard">Home</a>
                </li>
                <li class="nav-link" id="composeLink">
                    <a href="/compose">Compose</a>
                </li>
                <li class="nav-link" id="catLink">
                    <a href="/category">Category</a>
                </li>
                <li class="nav-link" id="blogLink">
                    <a href="/blogs">Blogs</a>
                </li>
                <li class="nav-link" id="logout">
                    <a href="/" onclick="logout()">Log Out</a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>

<script>
    function logout(){
        localStorage.removeItem('login');
        alert('See you mate')
    }
</script>
